div {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0; 
}
h1 {
    text-align: center;
	/*font-family: "Comic Sans MS", cursive, sans-serif;*/
    font-family:Tahoma, Geneva, sans-serif;
    color: Grey;
}

p {
    text-align: center;
	font-family: Arial, serif, sans-serif;
}

body {
    background-color: LightBlue;	
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
	.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
