* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
  background-image: url("house.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

h2 {
  text-align: center;
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100% 100%;
}

.header h1 {
  font-size: 50px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: right;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

p {
  text-indent: 30px;
}

img {
  height: auto;
  max-width: 100%;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #696969;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
  
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
  div {
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
}

div::after {
  content: "";
  background: url("background.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
  
